<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles_etudiant.css">
    <script src="js/script.js" defer></script>
    <title>etudiant</title>
</head>
<body>

<section>
    <div class="modal">
        <div class="cover"></div>
        <main>
            <form action="/ChangeDelegue/{id}" method="Post" ENCTYPE="multipart/form-data">
                <div class="contactez-nous">
                    <h1>Modifier le delegue qui a l'id </h1>

                    <div>
                        <label for="nom">Votre nom</label>
                        <input type="text" id="nom" name="newnom" th:placeholder="[[*{del.id}]]" required>
                    </div>
                    <div>
                        <label for="emaill">Votre e-mail</label>
                        <input type="email" id="emaill" name="newmail" th:placeholder="[[*{del.mail}]]" required>
                    </div>
                    <div>
                        <label for="pwd">Votre mot de passe</label>
                        <input type="password" id="pwd" name="newpassword"  th:placeholder="[[*{del.password}]]"required>
                    </div>
                    <!-- <br> -->
                    <div>
                        <label for="matricule">Votre matricule</label>
                        <input type="text" id="matricule" name="newmatricule" th:placeholder="[[*{del.matricule}]]" required>
                    </div>
                    <div>
                        <label for="niveau">Votre niveau</label>
                        <input type="text" id="niveau" name="newniveau" th:placeholder="[[*{del.niveau}]]" required>
                    </div>
                    <div>
                        <input type="file" name="file" id="newfile"> Votre photo de profile</input>
                    </div>

                    <td data-label="Photo"><img alt="" th:src="*{'data:image/jpeg;base64,'+{del.photo}}" style="width: 100px;height: 100px;"></td>
                    <div>
                        <button type="submit" class="btn">Save</button>
                    </div>

                </div>
            </form>
        </main>

    </div>
</section>












</body>
</html>