<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles_etudiant.css">
    <script src="js/script.js" defer></script>
    <title>etudiant</title>
</head>
<body>
<div class="side-menu">
    <div class="brand-name">
        <h1>Admin</h1>
    </div>
    <ul>     <ul>     <li><a href="HomePage"><img src="img/dashboard (2).png" alt="">&nbsp; <span>Dashboard</span> </a></li>
        <li><a href="ListDelegue" class="etudiant"><img src="img/reading-book (1).png" alt="">&nbsp; <span>Etudiants</span> </a></li>
        <li><a href="ListEnseignant"><img src="img/teacher2.png" alt="">&nbsp; <span>Enseignants</span></a></li>
        <li><a href="ListNiveau"><img src="img/school.png" alt="">&nbsp; <span>Niveau</span> </a></li>
        <li><a href="ListSalle"><img src="img/payment.png" alt="">&nbsp; <span>Salle</span> </a></li>
        <li><a href="ListUE"><img src="img/help-web-button.png" alt="">&nbsp; <span>UE</span></a> </li>
        <li><a href="ListSpecialite"><img src="img/settings.png" alt="">&nbsp; <span>Specialite</span> </a></li>
    </ul>
</ul>
</div>
<div class="container">
    <div class="header">
        <div class="nav">
            <div class="user">
                <button href="" class="btn" id="pop">Ajouter Salle</button>
                <a href="/" alt=""><h3>deconnexion</h3></a>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="cards">
            <div class="card">
                <div class="box">
                    <h1> [[${delCount}]]</h1>
                    <h3>Delegue</h3>
                </div>
                <div class="icon-case">
                    <img src="img/students.png" alt="">
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <h1>[[${ensCount}]]</h1>
                    <h3>Enseignants</h3>
                </div>
                <div class="icon-case">
                    <img src="img/teachers.png" alt="">
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <h1>1</h1>
                    <h3>Départements</h3>
                </div>
                <div class="icon-case">
                    <img src="img/schools.png" alt="">
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <h1>[[${fichecount}]]</h1>
                    <h3>Fiches</h3>
                </div>
                <div class="icon-case">
                    <img src="img/income.png" alt="">
                </div>
            </div>
        </div>
        <div class="content-2">
            <div class="recent-payments">
                <div class="title">
                    <h2>Salles</h2>

                </div>
                <table class="events-table">
                    <thead>
                    <tr>
                        <th class="event-date">Id</th>
                        <th class="event-date">nom</th>
<!--                        <th class="event-date">admin_id</th>-->
<!--                        <th class="event-date">Modifier</th>-->
                        <th class="event-date">Supprimer</th>

                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="salle : ${sales}">

                                                <td data-label="Id">[[*{salle.id}]]</td>
                                                <td data-label="Salle">[[*{salle.nom}]]</td>
<!--                                             -->
                                                <td data-label="Supprimer"><a th:href="@{/deleteSalle/{id}(id=${salle.id})}"><img src="img/icons8-poubelle-50.png" alt=""></a></td>



                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<section>
    <div class="modal">
        <div class="cover"></div>
        <main>
<!--            <form action="/Createsalle/@{{id}(id=${userid})}" method="Post" ENCTYPE="multipart/form-data">-->
            <form action="/Createsalle" method="Post" ENCTYPE="multipart/form-data">
                <div class="contactez-nous">

                    <div>
                        <label for="ni">Entrez la nom de la salle</label>
                        <input type="text" id="ni" name="nom"  required>
                    </div>


                    <div>
                        <button type="submit" class="btn">Save</button>
                    </div>
                </div>


    </div>
    </form>
    </main>

    </div>
</section>

</body>
</html>