<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles_etudiant.css">
    <script src="js/script.js" defer></script>
    <title>etudiant</title>
</head>
<body>
<div class="side-menu">
    <div class="brand-name">
        <h1>Admin</h1>
    </div>
    <ul>     <li><a href="HomePage"><img src="img/dashboard (2).png" alt="">&nbsp; <span>Dashboard</span> </a></li>
        <li><a href="ListDelegue" class="etudiant"><img src="img/reading-book (1).png" alt="">&nbsp; <span>Etudiants</span> </a></li>
        <li><a href="ListEnseignant"><img src="img/teacher2.png" alt="">&nbsp; <span>Enseignants</span></a></li>
        <li><a href="ListNiveau"><img src="img/school.png" alt="">&nbsp; <span>Niveau</span> </a></li>
        <li><a href="ListSalle"><img src="img/payment.png" alt="">&nbsp; <span>Salle</span> </a></li>
        <li><a href="ListUE"><img src="img/help-web-button.png" alt="">&nbsp; <span>UE</span></a> </li>
        <li><a href="ListSpecialite"><img src="img/settings.png" alt="">&nbsp; <span>Specialite</span> </a></li>
    </ul>
</div>
<div class="container">
    <div class="header">
        <div class="nav">
            <div class="user">
                <button href="" class="btn" id="pop">Ajouter Unite enseignement</button>
                <a href="/" alt=""><h3>deconnexion</h3></a>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="cards">
            <div class="card">
                <div class="box">
                    <h1> [[${delCount}]]</h1>
                    <h3>Delegue</h3>
                </div>
                <div class="icon-case">
                    <img src="img/students.png" alt="">
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <h1>[[${ensCount}]]</h1>
                    <h3>Enseignants</h3>
                </div>
                <div class="icon-case">
                    <img src="img/teachers.png" alt="">
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <h1>1</h1>
                    <h3>Départements</h3>
                </div>
                <div class="icon-case">
                    <img src="img/schools.png" alt="">
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <h1>[[${fichecount}]]</h1>
                    <h3>Fiches</h3>
                </div>
                <div class="icon-case">
                    <img src="img/income.png" alt="">
                </div>
            </div>
        </div>
        <div class="content-2">
            <div class="recent-payments">
                <div class="title">
                    <h2>Unités D'Enseignement</h2>
                </div>
                <table class="events-table">
                    <thead>
                    <tr>
                        <th class="event-date">Id</th>
                        <th class="event-date">Intitule</th>
                        <th class="event-date">Niveau</th>
                        <th class="event-date">Semestre</th>
                        <!--                        <th class="event-date">admin_id</th>-->
<!--                        <th class="event-date">Modifier</th>-->
                        <th class="event-date">Supprimer</th>

                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="ue : ${Ues}">

                        <td data-label="Id">[[*{ue.id}]]</td>
                        <td data-label="Intitule">[[*{ue.code}]]</td>
                        <td data-label="Intitule">[[*{ue.niveau.intitule}]]</td>
                        <td data-label="Intitule">[[*{ue.semestre.intitule}]]</td>
<!--                        <td data-label="Modifier"><a href=""><img src="img/icons8-crayon-50.png" alt=""></a></td>-->
                        <td data-label="Supprimer"><a th:href="@{/deleteUE/{id}(id=${ue.id})}"><img src="img/icons8-poubelle-50.png" alt=""></a></td>



                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<section>
    <div class="modal">
        <div class="cover"></div>
        <main>
            <!--            <form action="/Createsalle/@{{id}(id=${userid})}" method="Post" ENCTYPE="multipart/form-data">-->
            <form action="/Createue" method="Post" ENCTYPE="multipart/form-data">
                <div class="contactez-nous">

                    <div>
                <div class="contactez-nous">

                    <div>
                        <label for="ni">Entrez l'intitule de l'ue</label>
                        <input type="text" id="ni" name="code"  required>
                    </div>
                    <div>
                        <label for="ni">Votre Niveau</label>
                        <select name="niveau" id="ni1">
                            <option value="" disabled selected hidden>Choisissez le niveau</option>
                            <tr th:each="niv : ${niveau}" required>
                                <option  th:value="*{niv.intitule}">[[*{niv.intitule}]]</option>
                            </tr>
                        </select>
                    </div>
                    <div>
                        <label for="ni">Votre Semestre</label>
                        <select name="semestre" id="ni2">
                            <option value="" disabled selected hidden>Choisissez le semestre</option>
                            <tr th:each="sem : ${semestre}" required>
                                <option  th:value="*{sem.intitule}">[[*{sem.intitule}]]</option>
                            </tr>
                        </select>
                    </div>

<!--<div>-->
<!--    <select id="spec"/>-->
<!--    <option value="valeur1"></option>-->
<!--    -->
<!--</div>-->

                    <div>
                        <button type="submit" class="btn">Save</button>
                    </div>
                </div>


    </div>
    </form>
    </main>

    </div>
</section>

</body>
</html>